body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  background-color: rgb(12, 122, 12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

p {
  color: aliceblue;
}

#msh-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  padding: 5px;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  margin: 2px;
}

div {
  width: 170px;
  border: none;
  border-radius: 6px;
  margin: 2px;
}

#apple-shelf {
    background-color: rgb(242, 139, 139);
}

#orange-shelf{
    background-color: rgb(250, 217, 156);
}
